* {
  width: 90%;
  margin: auto;
  padding: 0.25%;
}

.titulo {
  color: rgb(46, 16, 164);
}

.fondo {
  background-image: url(https://www.shutterstock.com/image-photo/portrait-cute-black-labrador-retriever-600w-1870070956.jpg);
}

.card{
  width: 18rem;
}